<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiteboard Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="whiteboard-container">
        <div class="login-container">
            <h2>Login</h2>
            <form class="text-dark p-4">
                <div class="form-group">
                    <label class="col-5 form-label mb-2">
                        <span>Username :</span>
                    </label>
                    <div class="col-7 px-0 mb-2">
                        <input type="text" value="Project" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-5 form-label mb-2">
                        <span>Password :</span>
                    </label>
                    <div class="col-7 px-0 mb-2">
                        <input type="password" value="password" disabled>
                    </div>
                </div>
                <button class="login-button">Login</button>
            </form>
        </div>
    </div>
</body>
</html>